@use "sass:map";

$breakpoints: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px
);

@mixin up($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin down($size) {
  @media (max-width: calc(map.get($breakpoints, $size) - 1px)) {
    @content;
  }
}

@mixin between($from, $to) {
  @media (min-width: map.get($breakpoints, $from))
  and (max-width: calc(map.get($breakpoints, $to) - 1px)) {
    @content;
  }
}

@mixin container() {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;

  @include up(sm) {
    max-width: 640px;
    padding-inline: 24px;
  }

  @include up(md) {
    max-width: 768px;
  }

  @include up(lg) {
    max-width: 1024px;
  }

  @include up(xl) {
    max-width: 1176px;
    padding: 0;
  }
}

