@font-face{
    font-family:"NT Somic";
    src:url("/fonts/NTSomic-Regular.woff2") format("truetype");
    font-weight:400;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family:"NT Somic";
    src:url("/fonts/NTSomic-Medium.woff2") format("truetype");
    font-weight:500;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family:"NT Somic";
    src:url("/fonts/NTSomic-Bold.woff2") format("truetype");
    font-weight:700;
    font-style:normal;
    font-display:swap;
}
