MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@pay-guru.io
MAIL_PASSWORD=APP_PASSWORD
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@pay-guru.io
MAIL_FROM_NAME=PayGuru
MAIL_TO=hello@pay-guru.io
